{% extends "layout.html" %}

{% block title %}
<title>Consultas</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/styles/stylesindex.css">
{% endblock %}

{% block body %}
<br>
<div class="form-container">
    <div class="form-box">
                <!-- DATOS DEL EMPLEADO -->
      <section class="formulario">
        <h3> Datos del Empleado</h3>
        <br>
        <div class="info">
          <label for="nombrep">Nombre: </label>
          <input type="text" class="form-control" placeholder="Nombre del Empleado" required id="nombrep"
            name="nombreemp" data-letras/>
        </div>
        <br>
        <div class="info">
          <label for="contemp">Contraseña: </label>
          <input type="password" class="form-control" placeholder="Contraseña del Empleado" required id="contemp" name="contemp" />
        </div>
        <br>
        <div class="info">
          <label for="rolemp">Rol: </label>
          <input type="text" class="form-control" placeholder="Rol del Empleado" required id="rolemp" name="rolemp" />
        </div>
            <div class="botonesproducto">
              <input type="button" value="Agregar Empleado" class="btnproducto">
              <a href="{{ url_for('empleados') }}" class="btnproducto">Cancelar</a>
            </div>

      </section>
      <br>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/validaciones.js') }}"></script>
{% endblock %}