{% extends "layout.html" %}

{% block title %}
<title>Agregar Propietarios</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/styles/stylesindex.css">
{% endblock %}

{% block body %}
<div class="mascotas">
  <h2 class="menu">Propietarios</h2>
  <br>
  <form action="/agregarpropietario" method="post">
    <div class="form-container">
      <div class="form-box">
        <!-- DATOS PROPIETARIO -->
        <section class="formulario">
          <h3>Ingrese los Datos del Propietario</h3>
          <br>

          <div class="form-row">
            <label for="nombrep">Nombre: </label>
            <div class="form-input">
              <input type="text" class="form-control" placeholder="Nombre del Propietario" required id="nombrep"
                name="nombrep" data-letras />
            </div>
          </div>

          <div class="form-row">
            <label for="apellidop">Apellido: </label>
            <div class="form-input">
              <input type="text" class="form-control" placeholder="Apellido del Propietario" required id="apellidop"
                name="apellidop" data-letras />
            </div>
          </div>

          <div class="form-row">
            <label for="cedp">Cédula: </label>
            <div class="form-input">
              <input type="text" class="form-control" placeholder="Cédula del Propietario" required id="cedp"
                name="cedp" />
            </div>
          </div>

          <div class="form-row">
            <label for="telp">Teléfono: </label>
            <div class="form-input">
              <input type="number" class="form-control" placeholder="Teléfono del Propietario" required id="telp"
                name="telp" maxlength="8" />
            </div>
          </div>

          <div class="form-row">
            <label for="corp">Correo: </label>
            <div class="form-input">
              <input type="email" class="form-control" placeholder="Correo del Propietario" required id="corp"
                name="corp" />
            </div>
          </div>

          <div class="form-row">
            <label for="dirp">Dirección: </label>
            <div class="form-input">
              <input type="text" class="form-control" placeholder="Dirección del Propietario" required id="dirp"
                name="dirp" />
            </div>
          </div>

          <div class="form-row">
            <label for="estadop">Estado: </label>
            <div class="form-input">
              <select class="form-control" id="estadop" name="estadop" required>
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <label for="tipop">Tipo:</label>
            <div class="form-input">
              <select class="form-control" name="tipop" id="tipop">
                {% for i in categ %}
                <option value="{{ i[0] }}">{{ i[1] }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          {% if errores %}
          <div class="alert alert-danger">
            <ul>
              {% for error in errores %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}

          <br><br>
          <div class="botonesproducto">
            <input type="submit" value="Guardar" class="btnproducto">
            <a href="{{ url_for('agregarpropietario') }}" class="btnproducto">Cancelar</a>
          </div>
        </section>
        <br>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/validaciones.js') }}"></script>
{% endblock %}