{% extends "layout.html" %}

{% block title %}
<title>Consultas</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/styles/stylesindex.css">
{% endblock %}

{% block body %}

<div class="mascotas">
  <br>
  
  <h2 class="menu">Consultas</h2>
  <div class="form-container">
    <div class="form-box">
      <a href="/agregarconsultas"> <button class="btnagregar">Agregar Consultas</button></a>

      <div class="contenedor-tabla">
        <div class="tabla-negocios">
          <div class="encabezado-tabla">
            <h4 class="titulo-tabla">Historial de Consulta</h4>
          </div>
          <div class="cuerpo-tabla">
            <div class="tabla-responsive">
              <table id="tabla-negocios" class="tabla">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Diagnostico</th>
                    <th>Tratamiento</th>
                    <th>Precio</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- {% for i in Nego %}
                      <tr>
                        <td>{{ i[0] }}</td>
                        <td>{{ i[1] }}</td>
                        <td>{{ i[2] }}</td>
                        <td>{{ i[3] }}</td>
                        <td>{{ i[4] }}</td>
                      </tr>
                      {% endfor %} -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- TABLA -->





{% endblock %}

{% block js %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<!-- DataTables CSS (puedes ponerlo en tu bloque css si prefieres) -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

<script src="../static/js/tablas.js"></script>
{% endblock %}