{% extends "layout.html" %}

{% block title %}
<title>Consultas</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/styles/stylesindex.css">
{% endblock %}

{% block body %}

<div class="mascotas">
  <br>

  <h2 class="menu">Consultas</h2>
  <img class="fotomascotas" src="../static/assets/img/mas gatos.jpg" alt="">

  <div class="form-container">
    <div class="form-box">
      <a href="/agregarconsultas"> <button class="btnproducto">Agregar Consultas</button></a>
      <form action="{{ url_for('reporte_consultas_pdf') }}" method="get" style="display:inline;">
        <button type="submit" class="btnproducto">Descargar PDF</button>
      </form>

      <a href="https://wa.me/?text={{ mensaje__whatsapp }}" target="_blank">
        <button class="btnproducto">Enviar por WhatsApp</button>
      </a>

      <div class="contenedor-tabla">
        <div class="tabla-negocios">
          <div class="encabezado-tabla">
            <h4 class="titulo-tabla">Historial de Consulta</h4>
          </div>
          <div class="cuerpo-tabla">
            <div class="tabla-responsive">
              <table id="tabla-negocios" class="tabla">
                <thead>
                  <tr>
                    <th>Mascota</th>
                    <th>Peso</th>
                    <th>Edad</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  {% for c in consultas %}
                  <tr>
                    <td>{{ c.mascota }}</td>
                    <td>{{ c.peso }}</td>
                    <td>{{ c.edad }}</td>
                    <td>{{ c.fecha }}</td>
                    <td>{{ c.descripcion }}</td>
                    <td>C$ {{ c.total }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- TABLA -->





{% endblock %}

{% block js %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<!-- DataTables CSS (puedes ponerlo en tu bloque css si prefieres) -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

<script src="../static/js/tablas.ofuscado.js"></script>
{% endblock %}