{% extends "layout.html" %}

{% block title %}
<title>Editar mascota</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/stylesindex.css') }}">
{% endblock %}

{% block body %}
<div class="mascotas">
    <h2 class="productos">Mascotas</h2>
    <img class="gatitos" src="{{ url_for('static', filename='assets/img/gatitos.png') }}" alt="">
    <div class="form-container">
        <div class="form-box">
            <h2>Editar Mascota</h2>
            <form method="post">
                <div class="contenedorlabel">
                    <div class="info">
                        <label>Nombre:</label>
                        <span>{{ mascota[0] }}</span>
                    </div>
                    <div class="info">
                        <label>Edad:</label>
                        <input type="text" name="edad" value="{{ mascota[1] }}" required>
                    </div>
                    <div class="info">
                        <label>Peso:</label>
                        <input type="text" name="peso" value="{{ mascota[2] }}" required>
                    </div>
                    <div class="info">
                        <label>Sexo:</label>
                        <span>{{ mascota[3] }}</span>
                    </div>
                    <div class="info">
                        <label>Raza:</label>
                        <span>{{ mascota[4] }}</span>
                    </div>
                    <div class="info">
                        <label>Propietario:</label>
                        <select name="propietario_id" required>
                            {% for p in propietarios %}
                            <option value="{{ p[0] }}" {% if p[1]==mascota[5] %}selected{% endif %}>{{ p[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <button class="btnproducto" type="submit">Guardar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}