<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="../static/styles/stylesindex.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    {% block title %} {% endblock %}
    {% block css %} {% endblock %}
</head>

<body>
    <!-- navbar -->
    <header class="header">
        <div class="logo">
            <img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="Logo">
            <a href="/" id="nombre">Agro-Veterinaria Genesis</a>
        </div>

        <!-- Orden correcto: input + label + nav -->
        <input type="checkbox" id="nav-toggle" class="nav-toggle" />
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav>
            <ul class="nav-links">
                <li>
                    <!-- Este botón puede ir dentro si querés -->
                    <a href="/logout" class="btn logout-btn">
                        <button>Cerrar sesión</button>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Contenido dinámico -->
    {% block body %}
    {% endblock %}

    {% block js %}
    {% endblock %}
</body>

</html>