{% extends "layout.html" %}

{% block title %}
<title>Mascotas</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/styles/stylesindex.css">
{% endblock %}

{% block body %}
<div class="mascotas">

  <h2 class="menu">Mascotas</h2>
  <img class="fotomascotas" src="../static/assets/img/mascotasfoto.png" alt="">
  <div class="form-container">
    <div class="form-box">
      <a href="/agregarmascotas"> <button class="btnagregar">Agregar Mascota</button></a>
      <br>
      <!-- TABLA -->
      <div class="contenedor-tabla">
        <div class="tabla-negocios">
          <div class="encabezado-tabla">
            <h4 class="titulo-tabla">Historial de Mascotas</h4>
          </div>
          <div class="cuerpo-tabla">
            <div class="tabla-responsive">
              <table id="tabla-negocios" class="tabla">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Peso</th>
                    <th>Sexo</th>
                    <th>Raza</th>
                    <th>Propietario</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- {% for i in Mascot %}
              <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>
                <td>{{ i[4] }}</td>
                <td>{{ i[5] }}</td>
              </tr> -->
              {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>


{% endblock %}

{% block js %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<!-- DataTables CSS (puedes ponerlo en tu bloque css si prefieres) -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

<script src="../static/js/tablas.js"></script>
{% endblock %}