{% extends "layout.html" %}

{% block title %}
<title>Productos</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/styles/stylesindex.css">
{% endblock %}

{% block body %}
<div class="bodyproductos">

  <h2 class="productos">Productos</h2>

  <div class="botonesproducto">
    <a href="/compra"> <button class="btnproducto"> Crear Nuevo Producto</button></a>
    <a href="/ventas"> <button class="btnproducto"> Nueva Venta</button></a>
    <a href="/proveedores"> <button class="btnproducto"> Nuevo Proveedor</button></a>

  </div>

  <br>

  <section class="menu-favoritos">

    <div class="contenedor-productos">
      {% for p in productos %}
      <div class="producto">
        <img src="{{ url_for('static', filename=p[2].split('static/')[1]) }}" alt="{{ p[1] }}">
        <h3>{{ p[1] }}</h3>
        <p>{{ p[3] }}</p>
        <p><strong>Precio:</strong> C$ {{ p[4] }}</p>
        <p><strong>Unidades:</strong> {{ p[5] }}</p>
        <a href="{{ url_for('editar_producto', idproducto=p[0]) }}">
          <button class="btnproducto">Editar</button>
        </a>
      </div>
      {% endfor %}
    </div>

  </section>
</div>

{% endblock %}

{% block js %}
{% endblock %}