{% extends "layout.html" %}

{% block title %}
<title>Productos</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/styles/stylesindex.css">
{% endblock %}

{% block body %}
<div class="bodyproductos">

  <h2 class="productos">Productos</h2>

  <div class="botonesproducto">
    <a href="/compra"> <button class="btnproducto"> Crear Nuevo Producto</button></a>
    <a href="/ventas"> <button class="btnproducto"> Nueva Venta</button></a>
    <a href="/proveedores"> <button class="btnproducto"> Nuevo Proveedor</button></a>
    <a href="/historialventas"> <button class="btnproducto">Historial</button></a>


  </div>

  <br>

  <section class="menu-favoritos">

    <div class="contenedor-productos">
      {% for p in productos %}
      {% if p[11]|lower == 'activo' %}
      <div class="producto">
        <img src="{{ url_for('static', filename=p[2].split('static/')[1]) }}" alt="{{ p[1] }}">
        <h3>{{ p[1] }}</h3>
        <p>{{ p[3] }}</p>
        
        {% if p[9] == 'unidad' %}
        <p><strong>Precio:</strong> C$ {{ p[4] }}</p>
        <p><strong>Unidades:</strong> {{ p[6] }}</p>
        {% if p[6] | int <= 20 %}
        <p style="color: red; font-weight: bold;">¡Inventario de seguridad! Se recomienda reponer stock.</p>
        {% endif %}
        {% else %}
        <p><strong>Precio por unidad:</strong> C$ {{ p[4] }}</p>
        <p><strong>Precio kg:</strong> C$ {{ p[5] }}</p>
        <p><strong>Unidades:</strong> {{ p[6] }}</p>
        <p><strong>Peso disponible:</strong> {{ p[8] }} kg</p>
        {% if p[6] | float <= 2 %}
        <p style="color: red; font-weight: bold;">¡Inventario de seguridad! Se recomienda reponer stock.</p>
        {% endif %}
        {% endif %}
        
        <a href="{{ url_for('editar_producto', idproducto=p[0]) }}">
          <button class="btnproducto">Editar</button>
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>

  </section>
</div>

{% endblock %}

{% block js %}
{% endblock %}