{% extends "layout.html" %}

{% block title %}
<title>Servicios</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/styles/stylesindex.css">
{% endblock %}

{% block body %}
<div class="bodyproductos">
  <h2 class="menu">Servicios</h2>

  <div class="botonesproducto">
    <a href="/agregarservicio"> <button class="btnproducto">Nuevo servicio</button></a>
    <a href="/realizarservicio"> <button class="btnproducto">Realizar servicio</button></a>
    <a href="/historialservicios"> <button class="btnproducto">Historial</button></a>
  </div>

  <br>

  <section class="menu-favoritos">
    <div class="contenedor-serv">
      {% for s in servi %}
      <div class="servicioss">

        <div class="servicio-img">
          <img src="{{ url_for('static', filename=s[2].split('static/')[1]) }}" alt="{{ s[1] }}">
        </div>

        <div class="servicio-info">
          <h3>{{ s[1] }}</h3>
          <p>{{ s[4] }}</p>
          <p><strong>Precio:</strong> C$ {{ s[3] }}</p>

          <a href="{{ url_for('editar_servicio', idservicio=s[0]) }}">
            <button class="btnproducto">Editar</button>
          </a>
        </div>

      </div>
      {% endfor %}
    </div>
  </section>

</div>

{% endblock %}

{% block js %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<!-- DataTables CSS (puedes ponerlo en tu bloque css si prefieres) -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

<script src="../static/js/tablas.ofuscado.js"></script>

{% endblock %}